<!doctype html>
<html xmlns:ng="http://angularjs.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <title>Cabling Diagram</title>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/js/matchmedia.polyfill.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://agentanswercenter.directv.com/en-us/res/system/js/angular.js"></script>
    <script type="text/javascript" src="http://agentanswercenter.directv.com/en-us/res/system/js/jquery-aacDEV.js"></script>
    <script type="text/javascript" src="js/easyzoom.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="controller/controller.js"></script>
    <script type="text/javascript" src="class/class.js"></script>
    <script type="text/javascript" src="data/data.js"></script>
    <link rel="stylesheet" type="text/css" href="style/csswizardry-grids/csswizardry-grids.css">
    <link rel="stylesheet" type="text/css" href="style/easyzoom.css" />
    <link rel="stylesheet" type="text/css" href="style/style.css" />
    <link rel="stylesheet" type="text/css" href="style/lines.css" />
    <!--[if lt IE 9]>
    <script src="http://agentanswercenter.directv.com/en-us/res/system/js/PIE.js"></script>
    <script type="text/javascript" src="js/respond.js"></script>
    <![endif]-->
</head>

<body ng-app="cablingDiagram">
    <div ng-controller="cablingDiagramController" ng-cloak>
        <div class="grid">
        	<div class="header">
	        	<div class="grid__item one-half">
	        		<img src="http://agentanswercenter.directv.com/en-us/res/system/img/Logo_DTV_ATT.png">
	            </div>
	            <div class="grid__item one-half">
	                <h1 class="tool-title">Cabling Diagram</h1>
	            </div>
	        </div>
            <div class="grid__item palm-one-whole lap--one-third portable--one-quarter desk--one-fifth grey">
                <h2>Receiver</h2>
                <select ng-options="receiver.model for receiver in receiverArray" ng-model="optionSel">
                    <option value="">Choose Receiver Model</option>
                </select>
                <h2>Devices</h2>
                <ul>
                    <li class="no-decoration">
                        <label>
                            <input type="checkbox" checked disabled /><span>TV</span>
                        </label>
                    </li>
                    <li class="no-decoration" ng-repeat="tech in deviceArray | orderBy">
                        <label>
                            <input type="checkbox" ng-model="tech.on" />{{tech.name | convert:deviceLegend}}
                        </label>
                    </li>
                </ul>
                <h2>Connections</h2>
                <ul class="connectionList">
                    <li ng-repeat="tech in connectionArray | orderBy: 'name' | matchReceiverConnections:optionSel">
                        <label>
                            <input type="checkbox" ng-model="tech.on" ng-disabled="tech.disabled" /><span ng-class="{'disabled': tech.disabled}">{{tech.name | convert:connectionLegend}}</span><span ng-if="optionSel.compatible[3] && (tech.name == 2 || (tech.name == 4 && optionSel.model != 'H25'))"> via 10-Pin Mini Din</span>
                            <img class="easyzoom-flyout" ng-src="img/{{tech.name | convert:connectionLegend | lowercase | spcToHyphen}}.jpg" />
                        </label>
                    </li>
                </ul>
            </div>
            <div class="grid__item palm-one-whole lap--two-thirds portable--three-quarters desk--four-fifths stage">
                <div class="grid">
                    <div class="grid__item modal" ng-repeat="item in items | filter:{ detail: true }" ng-window-pie>
                        <div class="grid">
                            <div class="grid__item one-whole flush-right">
                                <button ng-click="item.detail = false">close</button>
                            </div>
                            <div class="grid__item palm--one-whole one-half">
                                <div class="diagram">
                                    <div class="grid--full">
                                        <div class="grid__item three-fifths devices">
                                            <div class="tv">
                                                <div class="easyzoom easyzoom--adjacent" zoom>
                                                    <a href="img/tv.jpg">
                                                        <img src="img/tv.jpg" />
                                                    </a>
                                                </div>
                                                <h4 class="devLabel">TV</h4>
                                            </div>
                                            <div class="rec" ng-class="{'recSelected': optionSel.model}">
                                                <span ng-if="!optionSel.model">Select receiver model</span>
                                                <div ng-if="optionSel.model" class="easyzoom easyzoom--adjacent" zoom>
                                                    <a href="img/{{optionSel.model | lowercase}}.jpg">
                                                        <img ng-if="optionSel.model" ng-src="img/{{optionSel.model | lowercase}}.jpg" data-large="img/{{optionSel.model | lowercase}}.jpg" magnify="zoomrange: [4,5], magnifiersize: [150, 150]" />
                                                    </a>
                                                </div>
                                                <h4 class="devLabel" ng-bind="optionSel.model | ternary:'DIRECTV'"></h4>
                                            </div>
                                            <div ng-repeat="device in item.device | orderBy" class="{{device | convert:deviceLegend | lowercase | spcToHyphen}}">
                                                <div class="easyzoom easyzoom--adjacent" zoom>
                                                    <a href="img/{{device | convert:deviceLegend | lowercase | spcToHyphen}}.jpg">
                                                        <img ng-src="img/{{device | convert:deviceLegend | lowercase | spcToHyphen}}.jpg"  />
                                                    </a>
                                                </div>
                                                <h4 class="devLabel" ng-bind="device | convert:deviceLegend"></h4>
                                            </div>
                                        </div><!-- 
                                     --><div class="grid__item two-fifths setup">
                                            <div class="step-{{step + 1}}" ng-repeat="(step, setup) in item.setup track by $index" ng-class="{
                                            'level-{{setup[0]}}': {{setup[0]}} < {{setup[1]}},
                                            'level-{{setup[1]}}': {{setup[1]}} < {{setup[0]}},
                                            'height-{{setup[0] - setup[1]}}': {{setup[0]}} > {{setup[1]}},
                                            'height-{{setup[1] - setup[0]}}': {{setup[1]}} > {{setup[0]}},
                                            'up': {{setup[0]}} > {{setup[1]}},
                                            'down': {{setup[1]}} > {{setup[0]}}
                                            }">
                                                <img class="horz" ng-src="img/{{$index + 1}}-{{setup[0]}}-3x.png" />
                                                <img class="horz" ng-src="img/{{$index + 1}}-{{setup[1]}}-3x.png" />
                                                <div class="vert">
                                                    <img ng-src="img/{{$index + 1}}-0-3x.png" />
                                                </div>
                                                <div class="arrow">
                                                    <img ng-src="img/{{$index + 1}}-a-3x.png" />
                                                </div>
                                            </div>
                                        </div><!--
                                 --></div>
                                </div>
                            </div>
                            <div class="grid__item palm--one-whole one-half">
                                <div ng-repeat="(no, step) in item.instructions track by $index" class="instructions step-{{no + 1}}">
                                    <div class="conBorder">
                                        <div class="easyzoom easyzoom--adjacent" zoom>
                                            <a href="img/{{item.connection[no] | convert:connectionLegend | lowercase | spcToHyphen}}.jpg">
                                                <img ng-src="img/{{item.connection[no] | convert:connectionLegend | lowercase | spcToHyphen}}.jpg"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="conBorder">
                                        <div class="easyzoom easyzoom--adjacent" zoom>
                                            <a href="img/{{item.connection[no] | convert:connectionLegend | lowercase | spcToHyphen}}-port.jpg">
                                                <img ng-src="img/{{item.connection[no] | convert:connectionLegend | lowercase | spcToHyphen}}-port.jpg" />
                                            </a>
                                        </div>
                                    </div>
                                    <b>{{no + 1}}. </b>
                                    <div ng-if="optionSel.compatible[3] && $first && (item.connection[no] == 2 || (item.connection[no] == 4 && optionSel.model != 'H25'))" class="conBorder floatBreak tenPin">
                                        <div class="easyzoom easyzoom--adjacent" zoom>
                                            <a href="img/10-pin.jpg">
                                                <img src="img/10-pin.jpg" />
                                            </a>
                                        </div>
                                    </div>
                                    <div ng-if="optionSel.compatible[3] && $first && (item.connection[no] == 2 || (item.connection[no] == 4 && optionSel.model != 'H25'))" class="conBorder tenPin">
                                        <div class="easyzoom easyzoom--adjacent" zoom>
                                            <a href="img/10-pin-port.jpg">
                                                <img src="img/10-pin-port.jpg" />
                                            </a>
                                        </div>
                                    </div>
                                    <p><span compile="step | convert:instructionLegend"></span><span ng-if="optionSel.compatible[3] && $first && (item.connection[no] == 2 || (item.connection[no] == 4 && optionSel.model != 'H25'))"> via 10-Pin Mini Din</span></p>
                                </div>
                                <div ng-repeat="(no, note) in item.notes track by $index" class="instructions">
                                    <div class="conBorder"></div>
                                    <div class="conBorder"></div>
                                    <p><span compile="note | convert:notesLegend"></span></p>
                                </div>
                                <div class="instructions">
                                    <div class="conBorder"></div>
                                    <div class="conBorder"></div>
                                    <p><span>If customer does not have available cable, choose the next best connection option and/or <a href="http://agentanswercenter.directv.com/en-us/res/equipment/lost_stolen_damaged_equipment.html?fragid=6" target="_blank">order customer the appropriate cable</a></span></p>
                                </div>
                                <div ng-if="(optionSel.CCK) || (!optionSel)" class="instructions">
                                    <div class="conBorder"></div>
                                    <div class="conBorder"></div>
                                    <p><span>If receiver needs to be connected to the internet, refer to <a href="http://agentanswercenter.directv.com/en-us/res/rover_tools/cckw_deca/cckw_deca.htm" target="_blank">CCK-W/DECA Tool</a></span></p>
                                </div>
                            </div>
                        </div>
                    <div class="grid">
                        <div class="grid__item one-whole">
                            <h5 ng-if="item.device[0] == 4">*Although two separate devices, Blu-ray and DVD players have have similar connections. DVD players cannot play Blu-ray Discs but Blu-ray players can play standard DVD discs.</h5>
                            <h5 ng-if="(item.connection[0] == 1) && ((item.device[0] == 6) || (item.device[1] == 6) || (item.device[0] == 5) || (item.device[1] == 5))">*ARC - Audio Return Channel. For Smart TV's where the TV is creating the audio via apps like Netflix and Pandora. This allows audio to come through the Audio Receiver instead of TV speakers. ARC can be used on all devices that need audio from one common source, however, it may not always work perfectly. (i.e., won't hear 5.1 audio because TV is 2.0 audio) Also, it does not support Dolby TrueHD and DTS-HD. To hear 5.1 you would use a separate audio connection to the Audio Receiver.</h5>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="grid__item">
                        <h3 ng-if="!items.length">The device and/or cable connection combination is not currently supported in the Cable Diagram Tool. Please refer to your device(s)' users manual for connection options.</h3>
                    </div>
                    <div class="grid__item palm--one-whole lap--one-whole portable--one-half desk--one-third" ng-repeat="portfolioItem in items = (portfolioArray | matchDevices:deviceArray | removeDisabled:connectionArray | matchConnections:connectionArray | orderBy: 'connection')">
                        <div class="diagram preview" ng-click="portfolioItem.detail = true" ng-window-pie>
                            <div class="grid--full">
                                <div class="grid__item four-fifths devices">
                                    <div class="tv">
                                        <span>TV</span>
                                    </div>
                                    <div class="rec">
                                        <span ng-bind="optionSel.model | ternary:'DIRECTV'"></span>
                                    </div>
                                    <div ng-repeat="device in portfolioItem.device" class="{{device | convert:deviceLegend | lowercase | spcToHyphen}}">
                                        <span ng-bind="device | convert:deviceLegend"></span>
                                    </div>
                                </div><!--
                             --><div class="grid__item one-fifth setup">
                                    <div class="step-{{step + 1}}" ng-repeat="(step, setup) in portfolioItem.setup track by $index" ng-class="{
                                    'level-{{setup[0]}}': {{setup[0]}} < {{setup[1]}},
                                    'level-{{setup[1]}}': {{setup[1]}} < {{setup[0]}},
                                    'height-{{setup[0] - setup[1]}}': {{setup[0]}} > {{setup[1]}},
                                    'height-{{setup[1] - setup[0]}}': {{setup[1]}} > {{setup[0]}},
                                    'up': {{setup[0]}} > {{setup[1]}},
                                    'down': {{setup[1]}} > {{setup[0]}}
                                    }">
                                        <img class="horz" ng-src="img/{{$index + 1}}-{{setup[0]}}.png" />
                                        <img class="horz" ng-src="img/{{$index + 1}}-{{setup[1]}}.png" />
                                        <div class="vert">
                                            <img ng-src="img/{{$index + 1}}-0.png" />
                                        </div>
                                        <div class="arrow">
                                            <img ng-src="img/{{$index + 1}}-a.png" />
                                        </div>
                                    </div>
                                </div><!--
                             --><div class="grid__item one-whole">
                                    <span class="step-{{$index + 1}}" ng-repeat="connection in portfolioItem.connection track by $index">{{connection | convert:connectionLegend}}<span ng-if="optionSel.compatible[3] && $first && (connection == 2 || (connection == 4 && optionSel.model != 'H25'))"> via 10-Pin Mini Din</span><span ng-if="!$last"> + </span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- End controller -->
</body>
