<!doctype html>
<html xmlns:ng="http://angularjs.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <title>Cabling Diagram</title>
    <script type="text/javascript" src="http://agentanswercenter.directv.com/en-us/res/system/js/angular.js"></script>
    <script type="text/javascript" src="http://agentanswercenter.directv.com/en-us/res/system/js/jquery.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="controller/controller.js"></script>
    <script type="text/javascript" src="class/class.js"></script>
    <script type="text/javascript" src="data/data.js"></script>
    <link rel="stylesheet" type="text/css" href="style/style.css" />
</head>

<body ng-app="cablingDiagram">
    <div ng-controller="cablingDiagramController">
        <select ng-options="receiver.model for receiver in receiverArray" ng-model="optionSel">
            <option value="">Choose Receiver Model</option>
        </select>
        <ul>
            <li class="no-decoration">
                <label>
                    <input type="checkbox" checked disabled /><span>TV</span>
                </label>
            </li>
            <li class="no-decoration" ng-repeat="tech in deviceArray">
                <label>
                    <input type="checkbox" ng-model="tech.on" />{{tech.name}}
                </label>
            </li>
        </ul>
        <ul>
            <li class="no-decoration" ng-repeat="tech in connectionArray | matchReceiverConnections:optionSel">
                <label>
                    <input type="checkbox" ng-model="tech.on" ng-disabled="tech.disabled" /><span ng-class="{'disabled': tech.disabled}">{{tech.name}}</span>
                </label>
            </li>
        </ul>
        <hr>
        <div class="diagram preview" ng-repeat="portfolioItem in items = (portfolioArray | matchDevices:deviceArray | removeDisabled:connectionArray | matchConnections:connectionArray)">
            <div class="setup">
                <div class="step-{{step + 1}}" ng-repeat="(step, setup) in portfolioItem.setup track by $index" ng-class="{
                'level-{{setup[0]}}': {{setup[0]}} < {{setup[1]}},
                'level-{{setup[1]}}': {{setup[1]}} < {{setup[0]}},
                'height-{{setup[0] - setup[1]}}': {{setup[0]}} > {{setup[1]}},
                'height-{{setup[1] - setup[0]}}': {{setup[1]}} > {{setup[0]}},
                'up': {{setup[0]}} > {{setup[1]}},
                'down': {{setup[1]}} > {{setup[0]}}
                }">
                    <img class="horz" ng-src="img/{{$index + 1}}-{{setup[0]}}.png" />
                    <img class="horz" ng-src="img/{{$index + 1}}-{{setup[1]}}.png" />
                    <div class="vert">
                        <img ng-src="img/{{$index + 1}}-0.png" />
                    </div>
                    <div class="arrow">
                        <img ng-src="img/{{$index + 1}}-a.png" />
                    </div>
                </div>
            </div>
            <div class="devices">
                <div class="tv">TV</div>
                <div class="rec">DIRECTV</div>
                <div ng-repeat="device in portfolioItem.device" ng-bind="device" class="{{device | lowercase | spcToHyphen}}"></div>
            </div>
            <span class="step-{{$index + 1}}" ng-repeat="connection in portfolioItem.connection track by $index">{{connection}}<span ng-if="!$last">, </span></span>
        </div>
        <h2 ng-hide="items.length">There are no diagrams available for the options selected</h2>
    </div>
</body>
