<!doctype html>
<html xmlns:ng="http://angularjs.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <title>Cabling Diagram</title>
    <script type="text/javascript" src="http://agentanswercenter.directv.com/en-us/res/system/js/angular.js"></script>
    <script type="text/javascript" src="http://agentanswercenter.directv.com/en-us/res/system/js/jquery.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="controller/controller.js"></script>
    <script type="text/javascript" src="class/class.js"></script>
    <script type="text/javascript" src="data/data.js"></script>
    <style>
    .disabled {
        text-decoration: line-through;
        color: #838383;
    }
    </style>
</head>

<body ng-app="cablingDiagram">
    <div ng-controller="cablingDiagramController">
        <select ng-model="optionSel">
            <option value="">Choose Receiver Model</option>
            <option ng-repeat="(option, value) in receiverArray" value="{{value}}">{{option}}</option>
        </select>
        <ul>
            <li class="no-decoration">
                <label>
                    <input type="checkbox" checked disabled /><span>TV</span>
                </label>
            </li>
            <li class="no-decoration" ng-repeat="tech in deviceArray">
                <label>
                    <input type="checkbox" ng-model="tech.on" />{{tech.name}}
                </label>
            </li>
        </ul>
        <ul>
            <li class="no-decoration" ng-repeat="tech in connectionArray | matchReceiverConnections:optionSel">
                <label>
                    <input type="checkbox" ng-model="tech.on" ng-disabled="tech.disabled" /><span ng-class="{'disabled': tech.disabled}">{{tech.name}}</span>
                </label>
            </li>
        </ul>
        <hr>
        <div style="display:inline-block;width:300px" ng-repeat="portfolioItem in items = (portfolioArray | matchDevices:deviceArray | removeDisabled:connectionArray | matchConnections:connectionArray)">
            <img style="max-width:100%;" ng-src="{{portfolioItem.image}}" alt="" />
        </div>
        <h2 ng-hide="items.length">There are no diagrams available for the options selected</h2>
    </div>
</body>
