html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	margin: 0;
}

ul {
	list-style: none;
	padding-left: 0;
}

select {
	font-family: inherit;
}

.header {
	background: url(http://agentanswercenter.directv.com/en-us/res/system/img/tool_bg-09212015.jpg) top left black;
	color: white;
	padding: 20px 15px;
}

.header h1 {
	font-size: 22px;
	margin: 0;
	text-align: right;
}

.grey ul, .grey h2, .grey select {
	margin: 10px;
}
.grey {
	background-color: #23272f;
	color: white;
}

.grey h2 {
	color: #2caae2;
	margin-bottom: 0;
}

.diagram {
    width: 100%;
    min-width: 175px;
    padding: 5px;
    vertical-align: top;
    overflow: hidden;
}

.preview {
    background-color: white;
    position: relative;
    margin-bottom: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.preview:hover {
	border: 2px solid #2caae2;
    box-shadow: 5px 5px 5px #cccccc;
    filter: progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=7, Direction=180),
            progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=7, Direction=90)
}

.preview span {
	position: relative;
}

.setup, .devices {
	vertical-align: top;
}

.devices div + div {
	margin-top: 5px;
}

.disabled {
    text-decoration: line-through;
    color: #838383;
}

.setup {
	position: relative;
}

.vert, .horz, .arrow {
	position: absolute;
	left: 0;
}

.down .arrow {
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    transform: rotate(180deg);
}

.step-1 b, span.step-1 {
	color: #3b97d3;
}

.step-2 b, span.step-2 {
	color: #e64c3b;
}

.step-3 b, span.step-3 {
	color: #834583;
}

.step-4 b, span.step-4 {
	color: #e57d24;
}

.step-5 b, span.step-5 {
	color: #24ad5f;
}

.instructions {
	clear: both;
}

.instructions + .instructions {
	margin-top: 75px;
}

.instructions.step-1 .conBorder {
	border-color: #3b97d3;
}

.instructions.step-2 .conBorder {
	border-color: #e64c3b;
}

.instructions.step-3 .conBorder {
	border-color: #834583;
}

.instructions.step-4 .conBorder {
	border-color: #e57d24;
}

.instructions.step-5 .conBorder {
	border-color: #24ad5f;
}

.conBorder {
	float: left;
	display: inline-block;
	border: 4px solid transparent;
	margin: 0 10px 10px 0;
	vertical-align: top;
	font-size: 0;
	width: 65px;
}

.conBorder img {
	max-height: 123px;
	height: auto;
	width: auto;
	max-width: 100%
}

.vert {
	overflow: hidden;
}

.devices div {
	padding: 10px;
	text-align: center;
	color: white;
	height: 38px;
}

.preview .devices div {
	background: #454545;
}

.modal {
    overflow: hidden;
    position: absolute;
    z-index: 1001;
    background-color: white;
    top: 0;
    padding: 25px;
    width: 94%;
    left: 50%;
    margin-left: -47%;
    top: 24px;
    border-radius: 5px;
    box-shadow: 2px 2px 30px gray;
}

.modal .devices {
	padding-bottom: 20px;
}

.modal .devices div {
	padding: 0;
	height: 100px;
	border: 4px solid #d3d3d3;
}

.modal .devices div + div {
	margin-top: 29px;
}

.devices img {
	max-height: 100%;
	height: auto;
	width: auto;
	max-width: 100%;
	vertical-align: middle;
}

.rec {
    background: #838383;
}

.rec h4 {
	margin-top: -4px;
}

.rec.recSelected {
	background-color: white;
}

.rec.recSelected h4 {
	margin-top: 0;
}

.modal .rec span {
	display: inline-block;
	margin-top: 40px
}

.modal .devices div .helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin: 0;
}

.stage {
	background-color: #e6e6e6;
	position: relative;
	color: #333;
}

.flush-right {
	text-align: right;
}

h4.devLabel {
    color: #333;
    margin: 0;
}