html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	margin: 0;
}

ul {
	list-style: none;
	padding-left: 0;
}

select {
	font-family: inherit;
}

.header {
	background: url(http://agentanswercenter.directv.com/en-us/res/system/img/tool_bg-09212015.jpg) top left black;
	color: white;
	padding: 20px 15px;
}

.header h1 {
	font-size: 22px;
	margin: 0;
	text-align: right;
}

.grey ul, .grey h2, .grey select {
	margin: 10px;
}
.grey {
	background-color: #23272f;
	color: white;
}

.grey h2 {
	color: #2caae2;
	margin-bottom: 0;
}

.diagram {
    width: 100%;
    min-width: 175px;
    padding: 5px;
    vertical-align: top;
    overflow: hidden;
}

.preview {
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
}

.setup, .devices {
	vertical-align: top;
}

.devices div + div {
	margin-top: 5px;
}

.modal .devices div + div {
	margin-top: 15px;
}

.disabled {
    text-decoration: line-through;
    color: #838383;
}

.setup {
	position: relative;
}

.vert, .horz, .arrow {
	position: absolute;
	left: 0;
}

.down .arrow {
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    transform: rotate(180deg);
}

.step-1 b, span.step-1 {
	color: #3b97d3;
}

.step-2 b, span.step-2 {
	color: #e64c3b;
}

.step-3 b, span.step-3 {
	color: #834583;
}

.step-4 b, span.step-4 {
	color: #e57d24;
}

.step-5 b, span.step-5 {
	color: #24ad5f;
}

.instructions.step-1 .conBorder {
	border-color: #3b97d3;
}

.instructions.step-2 .conBorder {
	border-color: #e64c3b;
}

.instructions.step-3 .conBorder {
	border-color: #834583;
}

.instructions.step-4 .conBorder {
	border-color: #e57d24;
}

.instructions.step-5 .conBorder {
	border-color: #24ad5f;
}

.conBorder {
	display: inline-block;
	border: 4px solid transparent;
	margin-right: 10px;
	vertical-align: top;
	font-size: 0;
	width: 75px;
}

.conBorder img {
	max-height: 123px;
	height: auto;
	width: auto;
	max-width: 100%
}

.vert {
	overflow: hidden;
}

.devices div {
	padding: 10px;
	text-align: center;
	color: white;
	height: 38px;
}

.modal {
	overflow: hidden;
	position: absolute;
	z-index: 1001;
	background-color: white;
	top: 0;
	padding: 25px;
}

.modal .devices div {
	padding: 0;
	height: 114px;
}

.devices img {
	max-height: 114px;
	height: auto;
	width: auto;
	max-width: 100%
}

.tv {
    background: #626262;
}

.rec {
    background: #838383;
}

.vcr {
	background: #212121;
}

.blu-ray {
	background: #454545;
}

.audio-receiver {
	background: #a1a1a1;
}

.stage {
	background-color: #e6e6e6;
	position: relative;
	color: #333;
}